body {
    margin: 0;
    min-width: 1200px;
    font-family: 'Work Sans', "Arial" sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #151C22;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0 none;
    clip-path: inset(100%);
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #151C22;
}

.nav-icons {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 25px;
}

.nav-link {
    text-decoration: none;
    color: #151C22;
    margin-right: 35px;
}

.nav-icon-link {
    margin-right: 35px;
}

.header-logo {
    margin-top: 25px;
}

.promo {
    /* display: flex;
    padding-top: 50px;
    padding-bottom: 50px; */
    background-color: #F1F2F4;
}

.promo-wrapper {
    display: flex;
}

.promo-text {
   font-weight: normal;
   font-size: 128px;
   line-height: 188px;
   text-transform: uppercase;
   margin: 0;
}

.promo-text-column {
    width: 520px;
    margin-top: 142px;
}

.promo-img-column {
    width: 430px;
    padding: 50px 50px;
    padding-top: 50px;
}

.promo-name {
    display: blocks;
    margin-top: 25px;
    margin-bottom: 50px;
}

.promo-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #727A82;
    margin-bottom: 0;
}

.button-link {
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    display: inline-block;
    width: 219px;
    background-color: #151C22;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    cursor: pointer;
}

/* .button-block {
    display: inline-block;
    width: 219px;
    height: 64px;
    background-color: #151C22;
} */